.button{
    -fx-background-color:

       linear-gradient(to right,black 0%, #232723 33%, #373837 66%, black 100%);

}
.button:pressed{
    -fx-background-color:

            linear-gradient(to right, #7CB9E8 0%, #007FFF 100%);
               -fx-border-color: gray;

}